* {
  box-sizing: border-box;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 7px;
  border-radius: 5px;
}

.allboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  flex-wrap: wrap;
}